
.img-container img{
  opacity: 0.7;
  max-width: 100%;
  width: auto;
  border-radius: 50%;
  transition: all ease 1s;
}
.card-container:hover .img-container img{
  opacity: 1;
  border-radius: 0%;
}

.card-container .order-btn{
  background:rgb(7, 70, 125);
  color:rgb(255, 255, 255);
  transition: all ease 1s;
  padding:10px 15px;
}
.card-container:hover .order-btn{
  background-color: rgb(0, 221, 255);
  color:rgb(0, 0, 0);
  padding:10px 25px;
  font-weight: bold;
}



/* style={{maxWidth:'100%', width:'auto', borderRadius:'50%'}} */